.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}
.headerTitle {
  font-size: 24px;
  font-weight: bold;
}
.sideImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  border: black solid !important;
  border-width: 2px !important;
  border-radius: 10px !important;
  background-color: white !important;
}
.forgetPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}
.formControl {
  color: black;
  width: 100%;
}
.buttonLayout {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.requestLinkBtn {
  background-color: blueviolet !important;
  border: white !important;
  border-radius: 10px !important;
  border-width: 10px !important;
}
@media only screen and (max-width: 600px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
}
