.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.headerTitle {
  font-size: 24px;
  font-weight: bold;
}
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 600px;
  border: 1px black solid !important;
  border-radius: 10px !important;
  background-color: white !important;
}
.sideImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}
.formGroup {
  border: 1px solid lightgray !important;
  border-radius: 5px;
  margin-top: 30px;
  width: 100%;
}
.formControl {
  color: black;
  width: 100%;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.signInButton {
  margin-top: 20px;
  background-color: blueviolet !important;
  border: black solid !important;
  border-width: 1px !important;
  border-radius: 10px !important;
}
.formError {
  color: #ff6565;
  position: absolute !important;
}
.googleSignInButton {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  margin-top: 20px;
  background-color: white !important;
  border: black solid !important;
  border-width: 1px !important;
  border-radius: 10px !important;
  color: black !important;
}
@media only screen and (max-width: 600px) {
  .formContainer {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }
}
