.container {
  padding-top: 100px;
}
.leftColumn{
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
}
.middleColumn {
  background-color: white;
  margin-bottom: 10px;
  padding-top: 10px;
  box-shadow: 2px 1px 2px black !important;
}
.rightColumn {
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 1px;
}
.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardTitle {
  padding-top: 10px;
}
.cardName {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.cardSubtitle {
  padding-top: 10px;
}
.cardBody {
  /* padding-left: 70px; */
}
.cardFooter {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightCardSection {
  display: flex;
  margin-bottom: 10px;
  transition: transform 0.2s;
}
.rightCardSection:hover {
  margin-bottom: 10px;
  transform: scale(1.5);
  border-radius: 50px;
}

