.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.headerTitle {
  font-size: 24px;
  font-weight: bold;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signInForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
}
.formGroup {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.formControl {
  border: 2px solid gray;
  border-radius: 5px;
  padding: 5px;
  color: black;
  width: 100%;
}
.errors {
  color: red;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
.signInButton {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: blueviolet !important;
  border: 1px black solid !important;
  border-radius: 10px !important;
}
