.container {
  background-color: #181a1f !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 100px;
}
.postForm {
  background-color: #242424 !important;
  color: #fff;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.postTitle {
  background-color: #242424 !important;
  color: white;
  height: 100px;
  font-size: 40px;
  border-width: 0;
  border-color: lightgray !important;
}
.postTitle:focus {
  background-color: #242424 !important;
  color: white;
  border-width: 0;
  border-color: #181a1f !important;
}
.postContent {
  background-color: #242424 !important;
  color: white;
  height: 300px;
  font-size: 20px;
  border-width: 0;
}
.postContent:focus {
  background-color: #242424 !important;
  color: white;
  border-width: 0;
  border-color: #181a1f !important;
}
.customBtn {
  border-radius: 10px !important;
  width: 150px;
}
.formStyle {
  height: 100px;
  width: auto;
  margin: auto;
  color: white !important;
}
.labelStyle {
  margin: "10px 0 5px 0";
  font-family: "Arial, Helvetica, sans-serif";
  font-size: "15px";
}
.inputStyle {
  margin: "5px 0 10px 0";
  padding: "5px";
  border: "1px solid #bfbfbf";
  border-radius: "3px";
  box-sizing: "border-box";
  width: "100%";
}